@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset minimal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles globaux */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  background: linear-gradient(120deg, #0b1020, #111a33);
  color: #ffffff;
}
