@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: linear-gradient(120deg, #0b1020, #111a33);
  color: #e5e7eb;
}
